html {
  margin: 0 auto;
  max-width: 1500px;
}

h3 {
  align-items: center;
}

.table thead th {
  height: 75px;
}

.table-container, .form-container, .row {
  margin: 0 auto;
}

form div {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

button {
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    5px 5px rgba(0, 0, 0, 0.3);
  box-shadow:         5px 5px rgba(0, 0, 0, 0.3);
}

.btn:focus {
  transition-duration: .05s;
}

button[type="submit"] {
  color: white;
}

i {
  padding: 10px;
  color: black;
  min-width: 50px;
  text-align: center;
}

@media only screen
  and (min-device-width: 900px) {
    .title {
      text-align: center;
    }
    #badge {
      text-align: center;
    }
    button {
      text-align: right;
    }
    col-xs-12 {
      width: 50%;
    }
  }

@media only screen
  and (min-device-width: 700px) {
    .title {
      text-align: center;
    }
    #badge {
      text-align: center;
    }
    button {
      text-align: right;
    }

  }
